$body-color: #6F6D6D;
$header-color: #000000;
$primary: #FF2D2D;
$body-fz: 16px;
body {
  color: $body-color;
  font-family: 'Open Sans', sans-serif !important;
  font-size: $body-fz;
}

.section-header  {
  height: 688px;
  background-color: #F6F2F2;
  display: flex;
  align-items: center;
  padding-top: 101px;
  h1 {
    margin-bottom: 36px;
  }
  p {
    margin-bottom: 57px;
    font-size: 15px;
  }
}


h1, h2, h3, h4, h5, h6 {
  color: $header-color;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 42px;
  font-weight: bold;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
}



h6 {
  font-size: 27px;
  font-weight: 600;
}

.icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn  {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 20px 64px;
  font-weight: bold;
  &.btn-primary  {
    background-color: $primary;
    border-color: $primary;
    &:hover {
      background-color: darken($primary, 20%);
      border-color: $primary;
    }
    &:focus {
      background-color: darken($primary, 20%);
      border-color: $primary;
      box-shadow: 0 0 0 0.2rem rgba(255, 45, 45, .5);
    }
    &:active {
      background-color: darken($primary, 20%) !important;
      border-color: $primary !important;
      box-shadow: 0 0 0 0.2rem rgba(255, 45, 45, .5) !important;
    }
  }
  &.btn-outline-primary {
    color: $primary;
    border-color: $primary;
    &:hover {
      background-color: $primary;
      color: #ffffff;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 45, 45, .5);
    }
    &:active {
      background-color: $primary !important;
      color: #ffffff;
      box-shadow: 0 0 0 0.2rem rgba(255, 45, 45, .5) !important;
      border-color: $primary !important;
    }

  }
}

.main-video {
  box-shadow: 0px 0px 48px 13px rgba(0,0,0,0.49);
}

// section two start

.section-two  {
  padding-bottom: 59px;
  padding-top: 113px;
  .icon {
    margin-bottom: 35px;
  }
  h2 {
    margin-bottom: 50px;
  }
  h6 {
    margin-bottom: 20px;
  }
  .content-col {
    margin-bottom: 48px;
  }
  .text-two {
    margin-bottom: 57px;
  }
}
// section two end

hr {
  border: 0;
  height: 3px;
  background-color: #ECECEC;
}

.hr-primary {
  border: 0;
  height: 3px;
  background-color: $primary;
}

// section three start

.section-three {
  padding-top: 106px;
  padding-bottom: 38px;
  h3 {
    font-weight: bold;
    margin-bottom: 34px;
  }
  p {
    font-size: 15px;
    margin-bottom: 28px;
  }
  hr {
    margin-bottom: 88px;
  }
  .img-cover {
    height: 255px;
    margin-bottom: 30px;
  }
  .nav {
    margin-bottom: 64px;
  }
  .nav-link  {
      font-weight: 600;
      font-size: 22px;
      text-transform: uppercase;
      color: #737373;
      &.active {
        color: $primary;
        background-color: transparent;
      }
  }


}
.img-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}

// section three end


// section four start

.section-four {
  padding-top: 68px;
  padding-bottom: 109px;
  h3 {
    font-weight: bold;
    margin-bottom: 40px;
  }
  h4 {
    font-weight: 600;
    margin-bottom: 35px;
  }
  p {
    font-size: 15px;
    margin-bottom: 44px;
  }
  hr {
    margin-bottom: 68px;
  }
  .img-cover-team  {
    height: 198px;
  }
}

// section four end

// section five start

.section-five {
  // align-items: center;
  background-image: url(../../public/img/section-five-bg.png);
  text-align: center;
  height: 512px;
  padding: 140px 0 140px 0;
  h2 {
    color: white;
    margin-bottom: 31px;
  }
  p {
    font-size: 15px;
    color: white;
    margin-bottom: 61px;
  }
  .btn {
    line-height: 15px;
    padding: 31px 70px;
  }
}
.form-control-lg {
  margin-right: 20px;
  width: 522px;
  height: 80px;
  border: none;
  &:focus {
    border: none;
    box-shadow: none;
  }
}