$body-color: #6F6D6D;
$header-color: #000000;
$primary: #FF2D2D;
$body-fz: 16px;
body {
  color: $body-color;
  font-family: 'Open Sans', sans-serif !important;
  font-size: $body-fz;
}

// header  {
//   display: flex;
//   margin-top: 27px;
//   width: 1110px;
//   height: 90px;
//   position: fixed;
//   z-index: 100;
//   background-color: #313030;
//   .nav-item {
//     font-size: 14px;
//     color: #E0E0E0;
//     padding-top: 35px;
//   }
//   .home {
//     background-color: red;
//     height: 90px;
//     width: 90px;
//   }
// }


header {
  position: fixed;
  width: 100%;
  top: 27px;
  z-index: 1;
  .navbar  {
    background-color: #313030;
    height: 90px;
  }
  .nav-link {
    color: #E0E0E0;
    font-size: 14px;
    font-weight: 700;
    height: 90px;
    align-items: center;
    display: flex;
    padding: 45px 10px 33px 10px !important;
    &.home  {
      margin-left: 14px;
      margin-right: 14px;
    }
    &.portfolio {
      margin-left: 14px;
      margin-right: 14px;
    }
    &.about {
      margin-left: 14px;
    }
    &.contact {
      margin-left: 35px;
    }
  }
  .active {
    background-color: red;
  }
}


.section-header  {
  height: 688px;
  @media (max-width: 991px) {
    height: 1000px;
    .btn  {
      margin-bottom: 30px;
    }
  }
  background-color: #F6F2F2;
  display: flex;
  align-items: center;
  padding-top: 101px;
  h1 {
    margin-bottom: 36px;
  }
  p {
    margin-bottom: 57px;
    font-size: 15px;
  }
}


h1, h2, h3, h4, h5, h6 {
  color: $header-color;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 42px;
  font-weight: bold;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
}



h6 {
  font-size: 27px;
  font-weight: 600;
}

.icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn  {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 20px 64px;
  font-weight: bold;
  &.btn-lg {
    line-height: 15px;
    padding: 31px 70px;
  }
  &.btn-link  {
    font-weight: normal;
    padding: 0;
    font-style: italic;
    font-size: 18px;
    color: #585858;
    &:focus {
      box-shadow: none;
    }
  }
  &.btn-primary  {
    background-color: $primary;
    border-color: $primary;
    &:hover {
      background-color: darken($primary, 20%);
      border-color: $primary;
    }
    &:focus {
      background-color: darken($primary, 20%);
      border-color: $primary;
      box-shadow: 0 0 0 0.2rem rgba(255, 45, 45, .5);
    }
    &:active {
      background-color: darken($primary, 20%) !important;
      border-color: $primary !important;
      box-shadow: 0 0 0 0.2rem rgba(255, 45, 45, .5) !important;
    }
  }
  &.btn-outline-primary {
    color: $primary;
    border-color: $primary;
    &:hover {
      background-color: $primary;
      color: #ffffff;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 45, 45, .5);
    }
    &:active {
      background-color: $primary !important;
      color: #ffffff;
      box-shadow: 0 0 0 0.2rem rgba(255, 45, 45, .5) !important;
      border-color: $primary !important;
    }

  }
}

.main-video {
  box-shadow: 0px 0px 48px 13px rgba(0,0,0,0.49);
}

// section two start

.section-two  {
  padding-bottom: 59px;
  padding-top: 113px;
  .icon {
    margin-bottom: 35px;
    @media (max-width: 1199px) {
      margin-top: 20px;
    }
  }
  h2 {
    margin-bottom: 50px;
  }
  h6 {
    margin-bottom: 20px;
  }
  .content-col {
    margin-bottom: 48px;
  }
  .text-two {
    margin-bottom: 57px;
  }
}
// section two end

hr {
  border: 0;
  height: 3px;
  background-color: #ECECEC;
}

.hr-primary {
  border: 0;
  height: 3px;
  background-color: $primary;
}

// section three start

.section-three {
  padding-top: 106px;
  padding-bottom: 38px;
  h3 {
    font-weight: bold;
    margin-bottom: 34px;
  }
  p {
    font-size: 15px;
    margin-bottom: 28px;
  }
  hr {
    margin-bottom: 88px;
  }
  .img-cover {
    height: 255px;
    margin-bottom: 30px;
  }
  .nav {
    margin-bottom: 64px;
  }
  .nav-link  {
      font-weight: 600;
      font-size: 22px;
      text-transform: uppercase;
      color: #737373;
      &.active {
        color: $primary;
        background-color: transparent;
      }
  }


}
.img-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}

// section three end


// section four start

.section-four {
  padding-top: 68px;
  padding-bottom: 109px;
  h3 {
    font-weight: bold;
    margin-bottom: 40px;
  }
  h4 {
    font-weight: 600;
    margin-bottom: 35px;
  }
  p {
    font-size: 15px;
    margin-bottom: 44px;
  }
  hr {
    margin-bottom: 68px;
  }
  .person {
    position: relative;
    &:hover  {
      .person-name  {
        display: block;
      }
    }
    .person-name {
      position: absolute;
      bottom: 0px;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      background-color: rgba(122,120,110, 0.7);
      color: white;
      font-size: 17px;
      font-weight: 600;
      text-transform: uppercase;
      display: none;
    } 
    
  }
  .link {
    margin-bottom: 58px;
  }
  .btn-link {
    margin-right: 30px;
  }
  
  
  .img-cover-team  {
    height: 198px;
  }
}

// section four end

// section five start

.section-five {
  background-image: url(../../public/img/section-five-bg.png);
  text-align: center;
  height: 512px;
  padding: 140px 0 140px 0;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  h2 {
    color: white;
    margin-bottom: 31px;
  }
  p {
    font-size: 15px;
    color: white;
    margin-bottom: 61px;
  }
  .form-control-lg {
 font-size: 16px;
 height: 80px;
 padding-left: 37px;
  }
}
.form-control { 
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 45, 45, .5);
    border-color: $primary;
  }
}




// section six start

.section-six {
  padding: 140px 0;
  .hr-primary {
    margin-bottom: 74px;
  }
  .btn-link  {
    display: block;
    color: #E0E0E0;
  }
  }
  .btn-lg {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .form-group {
    margin-bottom: 44px;
  }
  .form-control {
    background-color: #E5E5E5;
    border: 0;
    
  }
  input {
    &.form-control {
      height: 70px;
      padding-left: 55px;
    }
  }
  textarea {
    &.form-control {
      padding: 36px 55px 15px 55px;
      resize: none;
    }
  }
  .info {
    color: #E0E0E0;
    padding-top: 179px;
    padding-bottom: 179px;
    padding-left: 50px;
    border-radius: 16px;
    background-color: #2D2D2D;
    @media (max-width: 1199px) {
      margin-top: 20px;
    }
  }


  footer {
    background-color: #313030;
    p {
      margin-top: 58px;
      margin-bottom: 37px;
    }
    a {
      display: inline-flex;
    }
    .icon {
      margin-top: 48px;
      margin-bottom: 31px;
      &.twitter {
        &:hover {
          background-color: #00ACEE;
          border-radius: 50px;
        }
      }
      &.linkedin {
        &:hover {
          background-color: #0E76A8;
          border-radius: 50px;
        }
      }
      &.instagram {
        &:hover {
          background: rgb(131,58,180);
          background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
          border-radius: 50px;
        }
      }
      &.facebook  {
        &:hover {
        background-color: #4267B2;
        border-radius: 50%;
      }
    }
  }
}